@(squads: SortedSet[Squad], competitors: Integer, championship: Boolean)
@if(squads.size() != 0) {
<span class='menu-container action-menu'>
    <a class='menu-link' href='/competitor/add'>@Messages("button.add.title")</a>
</span>
}
@if(competitors > 0) {
<table>
    <thead>
        <th>@Messages("label.competitor.competitor")</th>
        <th>@Messages("label.competitor.club")</th>
        <th>@Messages("label.competitor.class")</th>
        <th>@Messages("label.competitor.squad")</th>
        <th>@Messages("label.competitor.rollcall")</th>
        <th></th>
    </thead>
    <tbody>
    @for(squad <- squads) {
    @for(competitor <- squad.competitors) {
        <tr>
            <td>@competitor.fullName()</td>
            <td>@competitor.clubName()</td>
            <td>@competitor.combinedClass(championship)</td>
            <td>@squad.label @if(squad.allowedClasses.size() != 0){(@squad.allowedClassesString())}</td>
            <td>@squad.rollcallString()</td>
            <td>
                <span class='menu-container action-menu'>
                    @helper.form(action = routes.Competitions.moveCompetitor()) {
                        <input type='hidden' name='sourceSquadId' value='@squad.id' />
                        <input type='hidden' name='competitorId' value='@competitor.id' />
                        <button type='submit' name='action' value='show'>@Messages("button.move.title")</button>
                    }
                    @if(!competitor.scored) {
                    <a class='menu-link' href='/competitor/remove/@squad.id/@competitor.id'>@Messages("button.delete.title")</a>
                    }
                </span>
            </td>
        </tr>
    }
    }
    </tbody>
</table>
}
