@(stages: List[Stage], stageStatistics: HashMap[Integer, StageStatistics])
<span class='menu-container action-menu'>
    @if(stageStatistics.size() == 0) {
    <a class='menu-link' href='/stage/edit/0'>@Messages("button.add.title")</a>
    }
</span>
@if(stages.size() > 0) {
<table>
    <thead>
        <th>@Messages("label.stage.stage")</th>
        <th>@Messages("label.common.label")</th>
        <th>@Messages("label.stage.targets")</th>
        <th>@Messages("label.stage.points")</th>
        @if(stageStatistics.size() > 0){<th>@Messages("label.stage.average")</th>}
        <th></th>
    </thead>
    <tbody>
    @for(stage <- stages) {
    <tr>
        <td>@stage.index</td>
        <td>@stage.label</td>
        <td>@stage.targetCount</td>
        <td><input type='checkbox' disabled @if(stage.points){checked} /></td>
        @if(stageStatistics.size() > 0){<td>@stageStatistics.get(stage.index).averageString()</td>}
        <td>
            <span class='menu-container action-menu'>
                <a class='menu-link' href='/stage/edit/@stage.id'>@Messages("button.edit.title")</a>
                <a class='menu-link' href='/stage/delete/@stage.id'>@Messages("button.delete.title")</a>
            </span>
        </td>
    </tr>
    }
    </tbody>
</table>
}
