/* COLOR VARS */
	$color1:				#FF7600;
	$color2:				#BF7230;
	$color3:				#A64D00;
	$color4:				#FF9840;
	$color5:				#FFB473;
	
	$color11:				#01939A;
	$color12:				#1D7074;
	$color13:				#006064;
	$color14:				#34C6CD;
	$color15:				#5DC8CD;

	$color100:				#fff;
	$color101:				#000;
	$color102:				darkgray;
	$color103:				gray;
	$color104:				lightgray;