/* FONT VARS */
	$fontHeaderH1:				bold small-caps 2.8em/1.4 serif;
	$fontHeaderH2:				bold small-caps 1.6em/1.0 serif;
	
	$menuAnchor:				bold small-caps 1.3em/1.0 Helvetica, Arial, "Luxi Sans", sans-serif;
	$submenuAnchor:				bold small-caps 1.1em/0.9 Helvetica, Arial, "Luxi Sans", sans-serif;
	
	$contentLabel:				bold 16px serif;
	
	$fontContentH1:				normal 1.8em serif;
	$fontContentH2:				normal 1.2em serif;
	$fontContentH2Menu:			normal 0.8em serif;