@IMPORT url("reset.css");

/* DEFAULTS */
h1 {font-size: 20pt;font-weight: bold;}
h2 {font-size: 14pt;font-weight: bold;}
h3 {font-size: 12pt;font-weight: bold;}
h4 {font-size: 10pt;font-weight: bold;}

table, tr, td {
	width: 				auto;
}

tr.scoring
{
	vertical-align: 	text-top;
}

td.scoring {
	text-align: 		right;
}

td.buttons {
	text-align: 		left;
}

fieldset {
	float: 				left;
	clear: 				left;
	width:				100%;
}

button, input {
	border: 			1px solid blue;
}

button[type=submit].delete {
	border: 			1px solid red;
}

button[type=submit].enter {
	border: 			1px solid green;
}

input.scoring {
	border: 			1px solid gray;
	width: 				30px;
}

/* CLASSES */
.error {
	color:				red;
}

.container {
	width:				100%;
	display:			block;
}

.left {
	float:				left;
}

.right {
	float:				right;
}

.clear {
	clear:				both !important;
}

.applicationtitle {
	float:				left;
	font-size:			larger;
}

.competitioninfo {
	float:				right;
	font-size:			large;
}

.currentuser {
	clear:				both;
	float:				right;
	font-style:			italic;
}

.multicolumn-block {
	width: 100%;
}
.multicolumn-block div {
	width: 20%;
	margin-right: 5%;
	padding-bottom: 0.2em;
	float: left;
}