/*
    Document   : results
    Created on : May 28, 2012, 11:44:36 PM
    Author     : johan
    Description: CSS definitions for the competition results PDF output
*/

root {
	display: block;
}

hr {
	border: 1px solid #ff9600;
}

table {
	-fs-table-paginate: paginate;
	width: 100%;
	border: none;
	padding-top: 1em;
}

tr.spacer {
	height: 1em;
}

tr.header {
	background-color: #ffe0b3;
}

th {
	text-align: left;
}

th.competitor {
	width: 30%;
}

th.stages {
	width: 60%;
}

th.totals {
	width: 10%;
}

td.competitor {
	text-align: left;
	width: 30%;
}

td.stages {
	text-align: left;
	width: 60%;
}

td.totals {
	text-align: left;
	width: 10%;
}

.footitle {
	float: left;
	width: 50%;
	text-align: left;
	font-size: larger;
}

.date {
	float: right;
	width: 50%;
	text-align: right;
	font-size: larger;
}

.place {
	font-style: italic;
}

.name {
	font-weight: bold;
}

.content {
}

.sum {
	font-weight: bold;
}