#{extends "main.html" /}
#{set title: "Lägg till användare" /}
<div>
	<form method="POST">
		<input type="hidden" name="competitionID" value="${competition.id}" />
		<table>
			<tr>
				<td>

					<label for="firstName">F&ouml;rnamn</label>
					<input type="text" name="firstName" /><br/>
				</td>
				<td>
					<label for="surname">Efternamn</label>
					<input type="text" name="surname" /><br/>
				</td>
				<td>
					#{include "Common/selectCategory.html" /}
				</td>
				<td>
					#{include "Common/selectRank.html" /}
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<input class="enter" type="submit" formaction="@{Users.add}" value="Skapa anv&auml;ndare"/>
				</td>
			</tr>
		</table>
	</form>
</div>