#{extends "mainExt.html" /}
#{set title: "Skapa konto" /}
<div>
	<form action="@{pendingUser.doSignup()}" method="POST">
		<label for="firstname">F&ouml;rnamn</label>
		<input type="text" name="firstname" /><br/>
		<label for="firstname">Efternamn</label>
		<input type="text" name="surname" /><br/>
		<label for="cardnumber">Skyttekortsnummer</label>
		<input type="text" name="cardnumber" /><br/>
		<label for="email">Email</label>
		<input type="text" name="email" /><br/>
		<label for="email">L&ouml;senord</label>
		<input type="password" name="password" /><br/>
		<label for="email">Upprepa l&ouml;senord</label>
		<input type="password" name="passwordverification" /><br/>		
		<input type="submit" value="Skapa konto"/>
	</form>
</div>