#{extends "Competitions/main.html" /}
#{set title: messages.get("competitions.participants") /}

<hr />

<div>
	<form method="POST">
		<input type="hidden" name="competitionID" value="${competition.id}" />
		<table>
			<tr>
				<td>
					<select name="userID">
						%{
						for (user in users) {
						}%
						<option value="${user.id}">${user.getFullName()}</option>
						%{
						}
						}%
					</select>
				</td>
				<td>
					<input class="enter" type="submit" formaction="@{Results.registerUser()}" value="&{'common.register'}" />
				</td>
			</tr>
		</table>

		<hr />

		<table>
			<tr>
				<th style="text-align: left">
					Namn
				</th>
				<th style="text-align: left" colspan="2">
					Klass
				</th>
			</tr>
			%{
			for (competitor in competitors){
			}%
			<tr>
				<td>
					${competitor.getFullName()}
				</td>
				<td>
					${competitor.getDivision()}
				</td>
				<td>
					<input type="hidden" name="competitorID" value="${competitor.id}" />
					<input class="delete" type="submit" formaction="@{Competitions.unregisterUser()}" value="&{'common.unregister'}" />
				</td>
			</tr>
			%{
			}
			}%
		</table>
	</form>
</div>