#{extends "Competitions/main.html" /}
#{set title: messages.get("common.participants") /}

<div class="content">
    #{secure.check "admin"}
    <div>
        <form action="@{Competitions.enrollUser()}" method="POST">
            <input type="hidden" name="competitionID" value="${competition.id}" />
            #{include "Common/selectUser.html" /}
            #{include "Common/selectDivision.html" /}
            <button class="enter" type="submit">&{'common.register'}</button>
        </form>
    </div>


    <div>
        <form action="@{Users.add()}" method="POST">
            <input type="hidden" name="competitionID" value="${competition.id}" />
            <label for="firstName">&{'models.user.firstname'}</label>
            <input type="text" name="firstName" />
            <label for="surname">&{'models.user.surname'}</label>
            <input type="text" name="surname" />
            <label for="email">&{'models.user.email'}</label>
            <input type="text" name="email" />

            <br />
            #{include "Common/selectCategory.html" /}
            #{include "Common/selectRank.html" /}

            <br />
            <button class="enter" type="submit">&{'competitors.createuser'}</button>
        </form>
    </div>
    <script>

        $(document).ready(function () {
            $('#userID').change(function () {
                var userId = $('#userID').val();
                console.log('Selected userId: ' + userId);
                sagittarius.competitors.loadUsersDivisions(userId);
            });
        });

        var sagittarius = sagittarius || {};
        sagittarius.competitors = {
            loadUsersDivisions: function (userId) {
                $.get(
                        '@{Competitions.userDivisions()}',
                        {userId: userId},
                function (data) {
                    $('#divisionID').html(data);
                }
                );
            }
        };
    </script>
    #{/secure.check}


    <div>
        #{list competitors}
        <div>
            #{a @Competitors.edit(competition.id, _.id)}
            <span>${_}</span>
            <span>${_.getOrganisation()}</span>
            <span>${_.getDivisionAsString()}</span>
            #{/a}
			#{if _.hasSquad()}
            #{a @Squads.details(competition.id, _.getSquadId())}
			<span>&{'squads.label'} ${_.getSquadNumber()}</span>
            <span>${_.getStartTime()}</span>
            #{/a}
			#{/if}
        </div>
        #{/list}
    </div>
</div>