<div>
    <table>
        <tr>
            <td colspan="4">
                Hej och v&auml;lkommen till t&auml;vlingen ${competition.name} (${competition.getType()})!
            </td>
        </tr>
        <tr>
            <td>
                V&auml;lj en aktivitet:
            </td>
            <td>
                <form action="@{Results.list()}" method="POST">
                    <input type="hidden" name="competitionID" value="${competition.id}" />
                    <input type="submit" value="Visa resultat" />
                </form>
            </td>
            <td>
                <form action="@{Competitions.competitors()}" method="POST">
                    <input type="hidden" name="competitionID" value="${competition.id}" />
                    <input type="submit" value="Visa deltagare" />
                </form>
            </td>
            <td>
                <form action="@{Competitions.enroll()}" method="POST">
                    <input type="hidden" name="competitionID" value="${competition.id}" />
                    <input type="submit" value="T&auml;vlingsanm&auml;lan" />
                </form>
            </td>
            <td>
                <form action="@{Competitions.edit()}" method="POST">
                    <input type="hidden" name="competitionID" value="${competition.id}" />
                    <input type="submit" value="&Auml;ndra" />
                </form>
        </tr>
    </table>
</div>