#{extends "main.html" /}
#{set title: "${competition.name}" /}
<div>
	<form action="@{competitions.save()}" method="POST">
		<input type="hidden" name="competitionID" value="${competition.id}" />
		<table>
			<tr>
				<td>
					<label for="name">T&auml;vlingens namn</label>
					<input type="text" name="name" value="${competition.name}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="category">Typ av t&auml;vling</label>
					<select name="category">
						%{
						String selected = "foo";
						for (competitionType in competitionTypes) {
						if (competitionType.name == competition.type){
						selected = "selected";
						}
						else
						{
						selected = "";
						}
						}%
						<option ${selected} value="${competitionType.id}">${competitionType.name}</option>
						%{
						}
						}%
					</select>
				</td>
			</tr>
		</table>
		%{
		if (competition.type == "Fältskjutning"){
		}%
		<table>
			<tr>
				<th style="text-align: right">
					Station
				</th>
				<th style="text-align: left">
					Namn
				</th>
				<th style="text-align: center">
					Poäng
				</th>
			</tr>
			%{
			int i = 0;
			for (stage in stages){
			i++;
			}%
			<tr>
				<td style="text-align: right">
					${i}
				</td>
				<td style="text-align: left">
					<input type="text" name="stage[${i}].name" value="${stage.name}" />
				</td>
				<td style="text-align: center">
					%{
					String checked = "";
					if (stage.hasPoints()){
					checked = "checked";
					}
					}%
					<input type="checkbox" name="stage[${i}}.checked" ${checked} />
				</td>
				<td>
					<form action="@{competitions.deleteStage()}" method="POST">
						<input type="hidden" name="competitionID" value="${competition.id}" />
						<input type="hidden" name="stageID" value="${stage.id}" />
						<input class="delete" type="submit" value="Ta bort" />
					</form>
				</td>
			</tr>
			%{
			}
			}%
			</tr>
			<tr>
				<td>
					&nbsp;
				</td>
			</tr>
			<form action="@{competitions.addStage()}" method="POST">
				<tr>
					<td style="text-align: right">
						<i>${competition.stages.size()+1}</i>
					</td>
					<td style="text-align: left">
						<input type="text" />
					</td>
					<td style="text-align: center">
						<input type="checkbox" />
					</td>
					<td>
						<input type="hidden" name="competitionID" value="${competition.id}" />
						<input type="submit" class="enter" value="L&auml;gg till station" />
					</td>
				</tr>
			</form>
			<tr>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					<input class="enter" type="submit" value="Spara" />
				</td>
			</tr>
		</table>
	</form>
	%{
	}
	}%
</div>