#{extends 'main.html' /}
#{set title: messages.get("common.competitions") /}

<h1>&{'common.competitions'}</h1>
<hr/>

#{secure.check "admin"}
<div>
	<h2>&{'competitions.administration.text'}</h2>
	<ul>
		<li>#{a @Competitions.create()}&{'competitions.createnew'}#{/a}</li>
		<li>#{a @Competitions.importCompetition()}&{'competitions.import'}#{/a}</li>
	</ul>
</div>
#{/secure.check}

#{secure.check "basic"}
<div>
	<h2>&{'competitions.registered.text'}</h2>
	#{list competitions}
	<ul>
		<li>#{a @Results.list(_.id)}${_.label} (${_.date})#{/a}</li>
	</ul>
	#{/list}
</div>
#{/secure.check}