<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<!--[if IE]>
<style>		
	.control{
		position: absolute;
  		right: 0px;
  		top: expression( document.body.scrollTop + 'px' );
  	}
</style>
<![endif]-->
	
<!--[if !IE]><!-->
<style>
	.control{
		position: fixed;
		top: 2px;
		right: 2px;
	}
</style>		
<!--<![endif]-->

<style>
	.control{
		display: block;
		border: solid 1px lightblue;
	}
	.controlHeader{
		border-bottom: solid 2px lightblue;
		text-align: right;
	}
	.hidden{
		display: none;
	}
</style>

	<script>
		$(document).ready(
				function() {
					for ( var i = 0; i < 30; i++) {
						$('#table1').append(
								'<tr class="row_"+i><td>Column data 1' + i
										+ '</td><td>Column data 2' + i
										+ '</td><td>Column data 3' + i
										+ '</td></tr>');
					}
				});

		$(document).ready(function() {
			$("#results").ajaxError(function(event, jqXHR, ajaxSettings, thrownError) {
  				$(this).html( "Triggered ajaxError handler.<br/>" + jqXHR.responseText );
			});
			reloadPage();
			pageScroll();
			textAnimation();
			//showSpeed();
			//showTextSize();
		});

		function textAnimation() {

		}

		var dir = 1;
		var mem = 0;
		var scrollDelay = 40;
		function pageScroll() {
			var pause = false;
			if (document.body.scrollTop == 0) {
				dir = 1;
				pause = true;
			} else if (document.body.scrollTop == mem) {
				mem = 0;
				dir = -1;
				pause = true;
			}
			mem = document.body.scrollTop;
			window.scrollBy(0, dir * 1); // horizontal and vertical scroll increments
			setTimeout('pageScroll()', (pause ? 2000: scrollDelay));
		}
		function scrollSpeed(slower) {
			scrollDelay += slower == true ? 10 : -10;
			showSpeed();
		}
		function showSpeed() {
			$('#speed').text(scrollDelay);
		}
		function changeTextSize(smaller) {
			var property = $('#table1').css('font-size');
			var value = property.substring(0, 2);
			var unit = property.substring(2, 4);
			smaller ? value-- : value++;
			$('#table1').css('font-size', value + unit);
		}
		function showTextSize() {
			$('#textSize').text($('#table1').css('font-size'));
		}
		function toggleControl() {
			$('.collapsable').toggleClass('hidden');
		}
		function reloadPage() {
			$.get('@{Competitions.theaterpart()}',	
				{ competitionId: ${competitionId} },
				function(data){
					$('#results').replaceWith(data);
				});
			showPresentTime();
			setTimeout('reloadPage()', 60000); // Reload page every 60 seconds
		}
		function showPresentTime() {
			var date = new Date();
			$('#time').text(date.getHours()+':'+date.getMinutes()+':'+date.getSeconds()+':'+date.getMilliseconds());
		}
	</script>

</head>
<body>
<div id="results"></div>
<div class="control">
	<div class="controlHeader">
		<a href="javascript:toggleControl();">[?]</a>
	</div>
	<div class="collapsable">
		<a href="javascript:scrollSpeed(true);">Slower</a>
		<a href="javascript:scrollSpeed(false);">Faster</a>
	</div>
	<div class="collapsable">
		<a href="javascript:changeTextSize(true);">Smaller</a>
		<a href="javascript:changeTextSize(false);">Bigger</a>
	</div>
	<div class="collapsable">
		<a href="javascript:reloadPage();">Reload</a>
	</div>
	<div class="collapsable">
		<span id="time"></span>
	</div>
</div>
</body>
</html>