body {
    font-size: 12pt;
}

.error-message {
    width: 98%;
    position: absolute;
    bottom: 0;
    background: #ff0000;
    padding: 0.3em 0.4em;
    margin: 0.4em 0em;
}

form, tr, td {
    margin: 0;
    text-align: left;
}

table.table-fullwidth {
    width: 99%
}

form {
    display: inline;
}

button {
    background: #ff9b20;
    border-radius: 0.25em;
    border: 1px solid darkgray;
    font-family: serif;
    font-size: 12pt;
}

label {
    border-radius: 0.25em;
    border: none;
    background: #ddd;
    padding: 0.1em 0.2em;
    margin-left: 0.1em;
    margin-right: 0.2em;
    font-family: serif;
    font-size: 12pt;
}

label.fileupload {
    background: #ff9b20;
    border: 1px solid black;
    border-radius: 0.25em;
    padding: 0.1em 0.3em;
}

input[type="file"] {
    display: none;
}

.menu-container {
    width: 100%;
    display: block;
    margin-top: 0.4em;
    margin-bottom: 0.5em;
}

.main-menu {
    font-size: 24pt;
}

.sub-menu {
    font-size: 16pt;
}

.action-menu {
    font-size: 12pt;
}

.menu-container a, button {
    border: 1px solid black;
    border-radius: 0.25em;
    padding: 0.1em 0.3em;
    font-style: normal;
    color: black;
    text-decoration: initial;
    margin-right: 0.2em;
}

.menu-container .fixed-first-cell {
    display: block;
    clear: both;
    float: left;
    width: 12em;
}

.menu-link {
    background: #ff9b20;
}

.menu-link-disabled {
    background: #ddd;
    pointer-events: none;
    cursor: default;
}

.menu-link-active, .menu-container a:active, .menu-container a:hover, button:hover {
    background: #ffe9b8;
}

.item-link {
    background: #ddd;
}

.page-heading {
    width: 99%;
    display: block;
    background: #ff9b20;
    padding: 0.1em 0.2em;
    font-size: 28pt;
    margin-bottom: 0.2em;
}

.page-subheading {
    width: 99%;
    display: block;
    background: #ff9b20;
    padding: 0.1em 0.2em;
    font-size: 16pt;
    margin-bottom: 0.2em;
}

.folding-section-heading {
    width: 99%;
    background: #eee;
    border-radius: 0.25em;
    border: 1px solid darkgray;
    text-align: left;
}

tbody.folding-section {
}

tbody.folded {
    display: none;
}

hr {
    width: 100%;
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
}

.scoring-competitor-container {
    width: 100%;
    background: #ff9b20;
    font-size: 18pt;
    display: block;
    float: left;
}

.scoring-competitor-name {
    float: left;
}

.scoring-competitor-class {
    float: right;
}

.scoring-score-container {
    clear: both;
}

.scoring-score-stage {
    vertical-align: top;
    padding-right: 1em;
}

.scoring-stage-label {
    display: block;
    clear: both;
    padding-bottom: 0.8em;
}

.scoring-stage-scores {
    display: block;
    padding-bottom: 0.2em;
}

.competition-info {
    margin: 0.4em 0;
    font-size: 14pt;
}

.competition-info label {
    font-size: 14pt;
}

.list-spacer {
    height: 1em;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #ddd;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
