#{extends "Administration/main.html" /}
#{set title: item.label /}

<div>
	<form action="@{Administration.edit_weaponcategory()}" method="POST">
		<input type="hidden" name="ID" value="${item.id}" />
		<label for="label">&{'common.label'}</label>
		<input type="text" name="label" value="${item.label}" />
		<label for="shortLabel">&{'common.shortlabel'}</label>
		<input type="text" name="shortLabel" value="${item.shortLabel}" />
		<label for="shotInterval">&{'weaponcategory.shotinterval'}</label>
		<input type="text" name="shotInterval" value="${item.shotInterval}" />

		<br />
		<button type="submit" name="useraction" value="save" class="enter">&{'common.save'}</button>
		<button type="submit" name="useraction" value="delete" class="delete">&{'common.delete'}</button>
	</form>
</div>