#{extends "main.html" /}
#{set title: messages.get('administration.title') /}

#{secure.check "admin"}
<div class="menu">
	#{a @Administration.list_competitiontype()}&{'administration.competitiontypes'}#{/a}
	#{a @Administration.list_scoringtype()}&{'administration.scoringtype'}#{/a}
	<br />
	#{a @Administration.list_category()}&{'administration.categories'}#{/a}
	#{a @Administration.list_rank()}&{'administration.ranks'}#{/a}
	#{a @Administration.list_division()}&{'administration.divisions'}#{/a}
	#{a @Users.list()}&{'administration.users'}#{/a}
	<br />
	#{a @Administration.list_weaponcategory()}&{'administration.weaponcategory'}#{/a}
	#{a @Administration.list_targetcolour()}&{'administration.targetcolour'}#{/a}
	#{a @Administration.list_targetclass()}&{'administration.targetclass'}#{/a}
	#{a @Administration.list_targetshape()}&{'administration.targetshape'}#{/a}
</div>
<hr class="clear" />
#{/secure.check}

#{doLayout /}