<div class="content">
	%{
	boolean tableOpen = false;
	int totalHits;
	int totalTargets;
	int totalPoints;
	int place = 1;
	int count = 1;
	int rowCount = 1;
	}%
	%{
	if (results.size() > 0) {
	String previousClass = "";
	for(entry in results){
	if (entry.results != null && entry.results.size() == competition.stages.size()) {
	if (!entry.getDivision().equals(previousClass)){
	place = 1;
	}%
	#{if (tableOpen == true)}</table>#{/if}
<table class="resultTable">
	<thead>
		<tr class="header">
			<th class="competitor">
				Klass ${entry.getDivision()}
			</th>
			<th class="stages">
				Stationer
			</th>
			<th class="totals">
				Totalt
			</th>
		</tr>
	</thead>
	%{
	}
	tableOpen = true;
	previousClass = entry.getDivision();
	}%
	<tr #{if rowCount++ % 2 != 0}class="even"#{/if}>
		<td class="competitor">
			<span class="place">${place++}</span> <span class="name">${entry.getFullName()}</span>
		</td>
		<td class="stages">
			%{
			totalHits = 0;
			totalTargets = 0;
			totalPoints = 0;
			count = 1;
			for(result in entry.results){
			totalHits += result.hits;
			totalTargets += result.targets;
			totalPoints += result.points;
			}%
			${result.hits}/${result.targets}#{if result.points > 0} <span class="points">(${result.points})</span>#{/if}#{if count++ < entry.results.size()}, #{/if}
			%{
			}
			}%
		</td>
		<td class="totals">
			#{if competition.scoringType == null || competition.scoringType.sumPointsAndTargets == true}
			<span class="sum">${totalHits + totalTargets}</span> <span class="points">(${totalPoints})</span>
			#{/if}
			#{else}
			<span class="sum">${totalHits}/${totalTargets}</span> <span class="points">(${totalPoints})</span>
			#{/else}
		</td>
		</td>
	</tr>
	%{
	}
	}
	}
	}%
</table>
</div>