@IMPORT url("reset.scss");
@IMPORT url("foundation.scss");
@IMPORT url("watermark.scss");

body {
	font-size:			14pt;	
}

/** CLASSES **/
.center {
	text-align:center;	
}
.control{
	position: 			fixed;
	top:				0px;
	right:				0px;
	padding:			5px 0 5px 0;
	display: 			block;
	background-color:	#999;
	border:				solid 1px #666;
	border-right-width:	0;	
	width:				100px;
	vertical-align: 	middle;
}
.control ul {
	float:				left;
}
.control li {
	display:			table-cell;
	padding-left:		1em;
}
.controlHeader{
	text-align: 		right;
}
.hidden{
	display: 			none;
}
.points {
	font-size:			11pt;
	font-style: 		italic;
}
.left {
	float:				left;
}
.right {
	float:				right;
}
.rounded-corners {
    
    -moz-border-bottom-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -khtml-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;    
}

/** ELEMENTS **/
a.square {
	display:			inline-block;
	width:				16px;
	height:				16px;
	border:				solid 1px, black;
	margin:				0 5px 0 5px;
}
table.resultTable {			
	margin:				5px 0 5px 5px;
}
table.resultTable th {
	text-align: 		left;
	color:				#333;
	font-weight: 		bold;
	padding-top:		12px !important;
	border:				solid 1px #333;
	border-width:		0 0 2px 0;
}
table.dataTable {
	display:			block;
	overflow:			auto;
}
th.competitor, td.competitor {			width: 180px;}
th.stages, td.stages {				width: 300px;}
th.totals, td.totals {				width: 60px;}
tr.even {
	background-color:	#86abba;
}
th, td {
	padding:			1px 0px 1px 2px;
}

/** IDS **/
#results.plain {
	width: 				550px;
	margin:				0px auto;
	text-align: 		left;
}
#results.stacked {
	position:			absolute;
	top:				0px;
}