/*
    Document   : menu
    Created on : Jun 8, 2012, 11:12:52 AM
    Author     : johan
    Description:
        Purpose of the stylesheet follows.
*/
@import "colors.scss";


/* MAIN MENU */
.menu {
	margin-left:			0.4em;
}

.menu li {
	display: 				inline-block;
	list-style-type: 		none;
	margin:					4px 0em;
}

.menu li a {
	font: 					bold small-caps 1.2em Helvetica, Arial, "Luxi Sans", sans-serif;
	padding:				4px 0.3em;
}

.menu a:link, .menu a:visited {
	color: 					$color12;
	background-color: 		$color15;
	text-decoration: 		none;
}

.menu a:hover, .menu a:active {
	color: 					$color100;
	background-color: 		$color12;
	text-decoration: 		none;
}
.menu a:active {
	color:					$color103;
}
li.active a:link, li.active a:visited {
	background-color: 		white;
}
li.active a:hover {
	color: 					$color100;
	background-color: 		$color12;
}

/* SUB MENU */
.submenu {
	width:					100%;
	background-color: 		$color104;
}