<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/billboard.css'}" />
<script src="@{'/public/javascripts/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/global.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/auto-scroll.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<style>

</style>

	<script>
		$(document).ready(function() {
			reloadPage();
			sagittarius.autoscroll.start();
			textAnimation();
		});
		function textAnimation() {
		
		}
		function changeTextSize(smaller) {
			var property = $('.resultTable td').css('font-size');
			var value = property.substring(0, 2);
			var unit = property.substring(2, 4);
			smaller ? value-- : value++;
			$('.resultTable td').css('font-size', value + unit);
		}
		function toggleControl() {
			$('.collapsable').toggleClass('hidden');
		}
		function reloadPage() {
			$.get('@{Competitions.billboardpart()}',	
				{ competitionId: ${competitionId} },
				function(data){
					$('#results').empty();
					$('#results').append(data);
				});
			showPresentTime();
			setTimeout('reloadPage()', 60000); // Reload page every 60 seconds
		}
		function showPresentTime() {
			var date = new Date();
			$('#time').text(date.getHours()+':'+date.getMinutes()+':'+date.getSeconds());
		}
	</script>

</head>
<body>
<div id="results"></div>
<div class="control">
	<div class="controlHeader">
		<a href="javascript:toggleControl();">[+]</a>
	</div>
	<div class="collapsable">
		<a href="javascript:sagittarius.autoscroll.pause();">Stop</a>
		<a href="javascript:sagittarius.autoscroll.resume();">Start</a>
	</div>
	<div class="collapsable">
		<a href="javascript:sagittarius.autoscroll.speedDown();">Slower</a>
		<a href="javascript:sagittarius.autoscroll.speedUp();">Faster</a>
	</div>
	<div class="collapsable">
		<a href="javascript:changeTextSize(true);">Smaller</a>
		<a href="javascript:changeTextSize(false);">Bigger</a>
	</div>
	<div class="collapsable">
		<a href="javascript:reloadPage();">Reload</a>
	</div>
	<div class="collapsable">
		<span id="time"></span>
	</div>
</div>
</body>
</html>