<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<!--[if IE]>
<style>		
	.control{
		position: absolute;
  		right: 0px;
  		top: expression( document.body.scrollTop + 'px' );
  	}
</style>
<![endif]-->
	
<!--[if !IE]><!-->
<style>
	.control{
		position: fixed;
		top: 2px;
		right: 2px;
	}
</style>		
<!--<![endif]-->

<style>
	.control{
		display: block;
		border: solid 1px lightblue;
	}
	.controlHeader{
		border-bottom: solid 2px lightblue;
		text-align: right;
	}
	.hidden{
		display: none;
	}
</style>

	<script>
		$(document).ready(function() {
			$("#results").ajaxError(function(event, jqXHR, ajaxSettings, thrownError) {
  				$(this).html( "Triggered ajaxError handler.<br/>" + jqXHR.responseText );
			});
			reloadPage();
			pageScroll();
			textAnimation();
		});

		function textAnimation() {

		}

		var dir = 1;
		var scrollDelay = 40;
		function pageScroll() {
			var b4 = $(window).scrollTop();
			$(window).scrollTop( b4 + 1*dir );
			
			var changeDirection = b4==$(window).scrollTop();
			dir = changeDirection ? (-1*dir) : dir;
			
			console.log('document.body.scrollTop: '+$(window).scrollTop());
			setTimeout('pageScroll()', ( changeDirection ? 2000: scrollDelay));
		}
		function scrollSpeed(slower) {
			scrollDelay += slower == true ? 10 : -10;
		}
		function changeTextSize(smaller) {
			var property = $('.resultTable td').css('font-size');
			var value = property.substring(0, 2);
			var unit = property.substring(2, 4);
			smaller ? value-- : value++;
			$('.resultTable td').css('font-size', value + unit);
		}
		function toggleControl() {
			$('.collapsable').toggleClass('hidden');
		}
		function reloadPage() {
			$.get('@{Competitions.billboardpart()}',	
				{ competitionId: ${competitionId} },
				function(data){
					$('#results').replaceWith(data);
				});
			showPresentTime();
			setTimeout('reloadPage()', 60000); // Reload page every 60 seconds
		}
		function showPresentTime() {
			var date = new Date();
			$('#time').text(date.getHours()+':'+date.getMinutes()+':'+date.getSeconds());
		}
	</script>

</head>
<body>
<div id="results"></div>
<div class="control">
	<div class="controlHeader">
		<a href="javascript:toggleControl();">[?]</a>
	</div>
	<div class="collapsable">
		<a href="javascript:scrollSpeed(true);">Slower</a>
		<a href="javascript:scrollSpeed(false);">Faster</a>
	</div>
	<div class="collapsable">
		<a href="javascript:changeTextSize(true);">Smaller</a>
		<a href="javascript:changeTextSize(false);">Bigger</a>
	</div>
	<div class="collapsable">
		<a href="javascript:reloadPage();">Reload</a>
	</div>
	<div class="collapsable">
		<span id="time"></span>
	</div>
</div>
</body>
</html>