#{extends "Competitions/main.html" /}
#{set title: messages.get("competitions.participants") /}

<hr />

<form id="register" method="POST">
	<div>
		<input type="hidden" name="competitionID" value="${competition.id}" />
		#{include "Common/selectUser.html" /}
		#{include "Common/selectDivision.html" /}
		<button class="enter" type="submit" formaction="@{Competitions.registerUser()}" #{if (request.headers.get("user-agent").toString().contains("MSIE"))}onClick='document.getElementById("register").action="@{Competitions.registerUser()}"'#{/if}>&{'common.register'}</button>
		<button class="delete" type="submit" formaction="@{Users.delete()}" #{if (request.headers.get("user-agent").toString().contains("MSIE"))}onClick='document.getElementById("register").action="@{Users.delete()}"'#{/if}>&{'users.delete'}</button>
	</div>

	<hr />

	<div>
		<label for="firstName">&{'models.user.firstname'}</label>
		<input type="text" name="firstName" />
		<label for="surname">&{'models.user.surname'}</label>
		<input type="text" name="surname" />
		#{include "Common/selectCategory.html" /}
		#{include "Common/selectRank.html" /}
		<button class="enter" type="submit" formaction="@{Users.add}" #{if (request.headers.get("user-agent").toString().contains("MSIE"))}onClick='document.getElementById("user").action="@{Users.add()}"'#{/if}>&{'competitors.createuser'}</button>
	</div>

	<hr />

	<div>
		<table>
			<tr>
				<th>
					&{'common.competitor'}
				</th>
				<th>
					&{'common.division'}
				</th>
			</tr>
			#{list competitors}
			<tr>
				<td>
					${_.getFullName()}
				</td>
				<td>
					${_.getDivision()}
				</td>
			</tr>
			#{/list}
		</table>
	</div>
</form>