#{extends "main.html" /}
#{set title: messages.get("competitions.createnew") /}

<br class="clear" />
<div>
	<form action="@{Competitions.edit()}" method="POST">
		<p>
			<label for="label">&{'common.name'}</label>
			<input name="label" value="${competition?.label}" />
		</p>
		<p>
			<label for="date">&{'competitions.competitiondate'}</label>
			<input name="date" value="${competition?.date}" />
		</p>
		<p>
			#{include "Common/selectCompetitionType.html" /}
		</p>
		<p>
			#{include "Common/selectScoringType.html" /}
		</p>
		<p>
			<button type="submit" name="useraction" value="create">&{'common.next'}</button>
		</p>
	</form>
</div>