#{extends "main.html" /}
#{set title: "${competition.name}, station ${stageIndex}" /}
%{
int i = 1;
int j = 1;
%}
<div>
	<h2>${competition.name}, station ${stageIndex}</h2>
	%{
	i = 1;
	for (group in stage.targetGroups) {
	}%
	<table>
		<tr>
			<th colspan=2>
		<form action="@{Stages.deleteTargetGroup()}" method="POST">
			<input type="hidden" name="competitionID" value="${competition.id}" />
			<input type="hidden" name="stageID" value="${stage.id}" />
			<input type="hidden" name="targetGroupID" value="${group.id}" />
			Målgrupp ${i++}
			<input type="submit" value="Ta bort" />
		</form>
		</th>
		</tr>
		<form action="@{Competitions.updateStage()}" method="POST">
			<input type="hidden" name="competitionID" value="${competition.id}" />
			<input type="hidden" name="targetGroupID" value="${group.id}" />
			<input type="hidden" name="stageID" value="${stage.id}" />
			%{
			j = 1;
			String checked = "";
			for (target in group.targets) {
			if (target.hasPoints) {
			checked = "checked";
			}
			}%
			<input type="hidden" name="targetID" value="${target.id}" />
			<tr>
				<td>
					Figur ${j++}
				</td>
				<td>
					${target.model}
				</td>
				<td>
					<input type="checkbox" ${checked} />
				</td>
			</tr>
			%{
			}
			}%
			%{
			}
			}%
	</table>
	<input type="submit" value="Uppdatera" />
</form>
</div>