#{extends "Competitions/main.html" /}
#{set title: messages.get("common.changeobject", competition.name)  /}

<hr />

<div>
	<form id="competition" method="POST">
		<input type="hidden" name="competitionID" value="${competition.id}" />
		<label for="name">&{'competitions.competitionname'}</label>
		<input type="text" name="name" value="${competition.name}" />
		<label for="date">&{'competitions.competitiondate'}</label>
		<input type="text" name="date" value="${competition.date}" />
		#{include "Common/selectCompetitionType.html" /}
		<button class="enter" type="submit" formaction="@{Competitions.save()}" #{if (request.headers.get("user-agent").toString().contains("MSIE"))}onClick='document.getElementById("competition").action="@{Competitions.save()}"'#{/if}>&{'common.change'}</button>
		<button class="delete" type="submit" formaction="@{Competitions.delete()}" #{if (request.headers.get("user-agent").toString().contains("MSIE"))}onClick='document.getElementById("competition").action="@{Competitions.delete()}"'#{/if}>&{'common.delete'}</button>
	</form>
</div>

#{if (competition.hasStages())}
<hr />

<div>
	<table>
		#{list stages, as:'stage'}
		<tr>
			<td>
				<form action="@{Competitions.deleteStage()}" method="POST">
					${stage.stageIndex} #{a @Stages.edit(competition.id, stage.id)}${stage.name}#{/a}
					<input type="checkbox" disabled #{if (stage.hasPoints())}checked#{/if} />
						   <input type="hidden" name="competitionID" value="${competition.id}" />
					<input type="hidden" name="stageID" value="${stage.id}" />
					<button class="delete" type="submit">&{'common.delete'}</button>
				</form>
			</td>
		</tr>
		#{/list}
	</table>
</div>
#{/if}

<div>
	<form action="@{Competitions.addStage()}" method="POST">
		<input type="text" name="name" />
		<input type="hidden" name="competitionID" value="${competition.id}" />
		<button type="submit" class="enter" formaction="@{Competitions.addStage()}">&{'competitions.addstage'}</button>
	</form>
</div>