#{extends 'main.html' /}
#{set title: messages.get("common.competitions") /}

<br class="clear" />

#{secure.check "admin"}
<div class="menu level2 bg_pink">
	<ul class="menu">
		<li>#{a @Competitions.create()}&{'competitions.createnew'}#{/a}</li>
		<li>#{a @Competitions.importCompetition()}&{'competitions.import'}#{/a}</li>
	</ul>
</div>
#{/secure.check}

#{secure.check "basic"}
<div class="menu">
	#{list competitions}
	<ul class="menu">
		<li>#{a @Results.list(_.id)}${_.label} (${_.date})#{/a}</li>
	</ul>
	#{/list}
</div>
#{/secure.check}