#{extends "main.html" /}
#{set 'moreStyles'}

#{/set}

<div class="submenu">
	<ul class="submenu">
		<li>#{a @Results.list(competition.id)}&{'results.title'}#{/a}</li>
		<!--		#{a @Competitions.enroll(competition.id)}&{'competitions.application'}#{/a} -->
		<li>#{a @Competitions.competitors(competition.id)}&{'common.participants'}#{/a}</li>
		<li>#{a @Squads.list(competition.id)}${common.Strings.capitaliseFirst(messages.get("competitions.squads"))}#{/a}</li>
		#{secure.check "admin"}
		<li>#{a @Competitions.edit(competition.id)}&{'competitions.details'}#{/a}</li>
		#{/secure.check}
		<li><a target="_Blank" href="@{Competitions.billboard(competition.id)}">&{'competitions.billboard'}</a></li>
		<li>#{a @Competitions.enrollment(competition.id)}&{'competitions.enrollment'}#{/a}</li>
	</ul>
</div>

#{doLayout /}