#{extends "main.html" /}
#{set title: messages.get("competitions.competition") /}

<div>
	<h2>&{'competitions.greeting', competition.name}</h2>
	<table>
		<tr>
			<td>
				<form method="POST">
					<input type="hidden" name="competitionID" value="${competition.id}" />
					<input class="navigate" type="submit" formaction="@{Results.list()}" value="Resultat" />
					<input class="navigate" type="submit" formaction="@{Competitions.competitors()}" value="Deltagare" />
					<input class="navigate" type="submit" formaction="@{Competitions.enroll()}" value="T&auml;vlingsanm&auml;lan" />
					<input class="navigate" type="submit" formaction="@{Competitions.edit()}" value="Detaljer" />
				</form>
		</tr>
	</table>
</div>

#{doLayout /}