#{extends 'main.html' /}
#{set title: messages.get("common.competitions") /}

<div class="content">
	<h1>&{'common.competitions'}</h1>
	<hr/>

    #{secure.check "basic"}
    <div>
		<h2>&{'competitions.scheduled.text'} ${year}</h2>
		#{secure.check "admin"}
		<div>
			#{a @Competitions.create()}&{'competitions.createnew'}#{/a}&nbsp;
		</div>
		#{/secure.check}
		<ul>
            #{list items:competitions, as:'competition'}
			<li class="${_parity}">
                <form action="@{Competitions.addStaff()}" method="POST">
					<input type="hidden" name="competitionID" value="${competition.id}" />
					${competition.date} ${competition.label}
					#{list items:competition.staff, as:'member'}
					${member.getFullName(true)}
					#{secure.check "admin"}
					#{a @Competitions.removeStaff(competition.id, member.id)}X#{/a}
					#{/secure.check}
					#{/list}
					#{secure.check "admin"}
					#{ifnot competition.staff.containsAll(users)}
					<select name='userID' id='userID'>
						<option value='-1' />
						#{list items:users, as:'user'}
						#{ifnot competition.staff.contains(user)}
						<option value='${user.id}'>${user.getFullName(true)}</option>
						#{/ifnot}
						#{/list}
					</select>
					<button class="save" type="submit">&{'common.add'}</button>
					#{/ifnot}
					#{/secure.check}
				</form>
			</li>
            #{/list}
		</ul>
	</div>
    #{/secure.check}
</div>