#{extends "Administration/main.html" /}
#{set title: user.getFullName() /}

${foo}

<div>
	<form action="@{Users.edit()}" method="POST">
		<input type="hidden" name="userID" value="${user.id}" />
		<label for="firstName">&{'models.user.firstname'}</label>
		<input type="text" name="firstName" value="${user.firstName}" />
		<label for="surname">&{'models.user.surname'}</label>
		<input type="text" name="surname" value="${user.surname}" /><br />

		<label for="cardNumber">&{'models.user.cardnumber'}</label>
		<input type="text" name="cardNumber" value="${user.cardNumber}" />
		<label for="email">&{'models.user.email'}</label>
		<input type="text" name="email" value="${user.email}" /><br />

		#{include "Common/selectCategory.html" /}
		#{include "Common/selectRank.html" /}
		<label for="admin">&{'models.user.admin'}</label>
		<input type="checkbox" name="admin" #{if (user.admin)}checked#{/if}><br />

		<button type="submit" name="useraction" value="save" class="enter">&{'common.save'}</button>
		<button type="submit" name="useraction" value="delete" class="delete">&{'common.delete'}</button>
	</form>
</div>