#{extends "Administration/main.html" /}
#{set title: messages.get('administration.users') /}

<div class="content">
	#{list users}
	<div>
		#{a @Users.edit(_.id)}${_.getFullName(true)}#{/a}#{if (_.admin)}*#{/if}
	</div>
	#{/list}
</div>

#{secure.check "admin"}
<br class="clear"/>
<div>
	<form action="@{Users.importUsers()}" method="POST" enctype="multipart/form-data">
		<input type="file" name="file" />
		<button type="submit" name="useraction" value="upload">&{'users.import'}</button>
	</form>
</div>
#{/secure.check}