#{extends 'main.html' /}
#{set title: messages.get("application.name") /}

#{secure.check "basic"}
<form action="@{Results.list()}" method="POST">
	#{include "Common/selectCompetition.html" /}
	<button type="submit">&{'competitions.select'}</button>
</form>
#{/secure.check}

<hr />

#{secure.check "admin"}
<form action="@{Competitions.add()}" method="POST">
	&{'competitions.createnew'}<br />
	<label for="name">&{'common.name'}</label>
	<input type="text" name="name" />
	#{include "Common/selectCompetitionType.html" /}
	<label for="date">&{'competitions.competitiondate'}</label>
	<input type="text" name="date" />
	<button type="submit">&{'competitions.create'}</button>
</form>
#{/secure.check}