@(squads: List[Squad], users: List[User], competitionClasses: List[CompetitionClass], competitionSubclasses: List[CompetitionSubclass])
@head(Messages("heading.common.addobject", Messages("label.competitor.competitor").toLowerCase())) {
    @helper.form(action = routes.Competitions.saveCompetitor()) {
        <label for='squad'>@Messages("label.squad.squad")</label>
        <select id='squad' name='squadId' autofocus>
            @for(squad <- squads) {
                <option value='@squad.id' @if(flash.get("squadId") == squad.id.toString()){selected}>@squad.label - @squad.rollcallString()@if(squad.allowedClasses.size() != 0){ - @squad.allowedClassesString()}</option>
            }
        </select>
        <label for='user'>@Messages("label.user.user")</label>
        <select id='user' name='userId'>
            @for(user <- users) {
                <option value='@user.id' @if(flash.get("userId") == user.id.toString()){selected}>@user.fullName() - @user.club</option>
            }
        </select>
        @components.selectors.selectclass(competitionClasses)
        @components.selectors.selectsubclass(competitionSubclasses)
        <span class='menu-container action-menu'>
            <button type='submit' name='action' value='save'>@Messages("button.save.title")</button>
            <a class='menu-link' href='/competition/show/@session.get("competitionId")/@session.get("tab")'>@Messages("button.cancel.title")</a>
        </span>
    }
}