@(competition: Competition, tab: String)
@head(competition.label) {
@components.menus.competitionsubmenu(competition)

@if(tab == "information") {
@components.competitioninfo(competition)
}

@if(tab == "stages") {
@components.lists.stages(competition.stages, competition.stageStatistics())
}

@if(tab == "squads") {
@components.lists.squads(competition.id, competition.squads, competition.firstUnscoredSquadId())
}

@if(tab == "competitors") {
@components.lists.competitors(competition.squads, competition.entries(), competition.championship)
}

@if(tab == "teams") {
@components.lists.teams(competition.teams)
}
}
