@(competition: Competition, squad: Squad, competitor: Competitor, stageIndex: Integer)
@head(Messages("heading.result.scoringforobject", squad.label)) {
    @helper.form(action = routes.Results.scoreSquad(), 'id -> "resultform") {
        <input type='hidden' name='competitionId' value='@competition.id' />
        <input type='hidden' name='squadId' value='@squad.id' />
        <input type='hidden' name='competitorId' value='@competitor.id' />
        <input type='hidden' name='stageIndex' value='@stageIndex' />
        <span class='scoring-competitor-container'>
            <span class='scoring-competitor-name'>@competitor.fullName()</span>
            <span class='scoring-competitor-class'>@competitor.combinedClass()</span>
        </span>

        <table class='scoring-score-container'>
            <tr>
                @for(stage <- competition.stages) {
                    @if(stage.index <= stageIndex) {
                        <td class='scoring-score-stage'>
                            <span class='scoring-stage-label'>
                                <label>@Messages("label.scoring.stage", stage.index)</label>
                            </span>
                            @for(targetIndex <- 0 to stage.targetCount - 1) {
                                <span class='scoring-stage-scores'>
                                    <label for='hits'>@Messages("label.scoring.target", targetIndex + 1)</label>
                                    <input
                                        id='hits' type='number' name='hits[@targetIndex]' min='0' max='6'
                                        @if(stage.index != stageIndex) {disabled} else { @if(targetIndex == 0) {autofocus} }
                                        @if(competitor.getStageScore(stage.index).scored()) {value='@competitor.getStageScore(stage.index).targetScores.get(targetIndex).value'}
                                        onkeypress='if (this.value.length > 0) { return false; }'
                                        onkeyup='if (this.value.length > 0) { var next = Array.prototype.slice.call(document.getElementById("resultform").getElementsByTagName("input"), 0).filter(function(item) { return !item.disabled && (item.name === "hits[@(targetIndex + 1)]" || item.name === "points"); })[0]; if (!!next) { next.focus(); } else { var button = document.getElementById("submitbutton"); if (!!button) { button.focus(); } } }'
                                    />
                                </span>
                            }
                            @if(stage.points) {
                                <span class='scoring-stage-scores'>
                                    <label for='points'>@Messages("label.scoring.points")</label>
                                    <input id='points' type='number' name='points' min='0' max='60' @if(stage.index != stageIndex) {value='@competitor.getStageScore(stage.index).points' disabled} />
                                </span>
                            }
                        </td>
                    }
                }
            </tr>
        </table>

        <span class='menu-container action-menu'>
            <button id='submitbutton' type='submit' name='action' value='save'>@Messages("button.save.title")</button>
            <a class='menu-link' href='/competition/show/@competition.id/squads'>@Messages("button.cancel.title")</a>
        </span>
    }
}