@(competition: Competition, squad: Squad, competitor: Competitor, stageIndex: Integer)
@head(Messages("heading.result.scoringforobject", squad.label)) {
    @helper.form(action = routes.Results.scoreSquad()) {
        <input type='hidden' name='competitionId' value='@competition.id' />
        <input type='hidden' name='squadId' value='@squad.id' />
        <input type='hidden' name='competitorId' value='@competitor.id' />
        <input type='hidden' name='stageIndex' value='@stageIndex' />
        <span class='scoring-competitor-container'>
            <span class='scoring-competitor-name'>@competitor.fullName()</span>
            <span class='scoring-competitor-class'>@competitor.combinedClass()</span>
        </span>

        <table class='scoring-score-container'>
            <tr>
                @for(stage <- competition.stages) {
                    @if(stage.index <= stageIndex) {
                        <td class='scoring-score-stage'>
                            <span class='scoring-stage-label'>
                                <label>@Messages("label.scoring.stage", stage.index)</label>
                            </span>
                            @for(targetIndex <- 0 to stage.targetCount - 1) {
                                <span class='scoring-stage-scores'>
                                    <label for='hits'>@Messages("label.scoring.target", targetIndex + 1)</label>
                                    <input
                                        id='hits' type='number' name='hits[@targetIndex]' min='0' max='6' @if(stage.index != stageIndex) { disabled }
                                        @if(competitor.getStageScore(stage.index).scored()) { value='@competitor.getStageScore(stage.index).targetScores.get(targetIndex).value'} else { if (targetIndex == 0) { autofocus } }
                                    />
                                </span>
                            }
                            @if(stage.points) {
                                <span class='scoring-stage-scores'>
                                    <label for='points'>@Messages("label.scoring.points")</label>
                                    <input id='points' type='number' name='points' min='0' max='60' @if(stage.index != stageIndex) {value='@competitor.getStageScore(stage.index).points' disabled} />
                                </span>
                            }
                        </td>
                    }
                }
            </tr>
        </table>

        <span class='menu-container action-menu'>
            <button type='submit' name='action' value='save'>@Messages("button.save.title")</button>
            <a class='menu-link' href='/competition/show/@competition.id/squads'>@Messages("button.cancel.title")</a>
        </span>
    }
}