@(squad: Squad, competitionClasses: List[CompetitionClass])
@head(Messages("heading.common.editobject", Messages("label.squad.squad").toLowerCase())) {
    @helper.form(action = routes.Competitions.saveSquad()) {
        <div>
            <input type='hidden' name='id' value='@if(squad.id == null){0}else{@squad.id}' />
            <label for='label'>@Messages("label.common.label")</label>
            <input id='label' type='text' name='label' value='@squad.label' />
            <label for='slots'>@Messages("label.squad.slots")</label>
            <input id='slots' type='number' name='slots' value='@squad.slots' size='3' min='1' max='99' />
            <label for='rollcall'>@Messages("label.squad.rollcall")</label>
            <input id='rollcall' type='text' name='rollcalltime' value='@squad.rollcallString()' size='6' />
        </div>
        <div>
            @components.selectors.selectclasses(competitionClasses, squad.allowedClasses)
        </div>
        <span class='menu-container action-menu'>
            <button type="submit" name="action" value="save">@Messages("button.save.title")</button>
            <a class='menu-link' href='/competition/show/@session.get("competitionId")/squads'>@Messages("button.cancel.title")</a>
            @if(squad.available()) {
            <a class='menu-link' href='/competitor/add/@squad.id'>@Messages("button.addobject.title", Messages("label.common.competitor").toLowerCase())</a>
            }
        </span>
    }
    @if(squad.id != null && squad.competitors.size() > 0) {
    <table>
        <thead>
            <th>@Messages("label.competitor.competitor")</th>
            <th>@Messages("label.competitor.club")</th>
            <th>@Messages("label.competitor.division")</th>
            <th></th>
        </thead>
        <tbody>
            @for(competitor <- squad.competitors) {
            <tr>
                <td>@competitor.fullName()</td>
                <td>@competitor.clubName()</td>
                <td>@competitor.combinedClass()</td>
                <td>
                    <span class='menu-container action-menu'>
                        <a class='menu-link' href='/competition/moveCompetitor/@squad.id/@competitor.id'>@Messages("button.move.title")</a>
                        @if(!competitor.scored) {
                        <a class='menu-link' href='/competitor/remove/@squad.id/@competitor.id'>@Messages("button.delete.title")</a>
                        }
                    </span>
                </td>
            </tr>
            }
        </tbody>
    </table>
    }
}