@import "main.scss";
@import "colors.scss";
@import "watermark.scss";

/* CLASSES */
.center-container {
	position:				relative;
	margin-top:				4%;
	margin:					0px auto;
	width:					95%;
	max-width:				500px;	
}

.login-box {
	padding:				1em 0.5em 1em 0.5em;
	border:					solid 2px $color12;
	text-align: 			center;
}

.login-box h2 {
	@extend .rounded-corners-top;
	background-color:		$color12;
	color:					$color100;
	text-align: 			left;
	margin:					-1em -0.5em 1em -0.5em;
	padding:				0 0 0 1em;
	line-height:			1.5em;
}

.login-box-lower {
	@extend .login-box;
	border:					solid 2px $color100;
	text-align: 			left;
}

.login-box p {
	margin-top:				3px;
	width:					80%;
	margin-left: 			auto;
  	margin-right: 			auto;		
}

.login-box-lower p {
	width:					100%;
}

.login-box label {
	display:				inline-block;
	font-weight:			bold;
	text-align:				left;
	width:					100%;
}

.login-box label.checkbox {
	float:					none;	
}
input, select {
	width:					100%;
}
input[type="checkbox"] {
	width:					20px;
}

/* ELEMENTS */
span.error {
	float:					right;
	font-weight:			normal;
	font-style:				italic;
	color:					red;
}
div.error {
	color:					red;
	background-color:		yellow;
	text-align:				center;
	padding:				0.2em 0 0.2em 0;
	font-size:				12pt;
	font-weight:			bold;
	margin:					-1.2em -0.5em 1em -0.5em;	
}

/* WATERMARK OVERRIDE */
#logo {
	border-right: 			solid 2px $color12;
}
.logo-font {
	color: 					$color12;
}