#{extends "main.html" /}
#{set title: messages.get("competitions.registerparticipant") /}

<div>
	<form id="register" method="POST">
		<input type="hidden" name="competitionID" value="${competition.id}" />
		<table>
			<tr>
				<td>
					#{include "Common/selectUser.html" /}
				</td>
				<td>
					#{include "Common/selectDivision.html" /}
					<button class="enter" type="submit" formaction="@{Competitions.registerUser}" #{if (request.headers.get("user-agent").toString().contains("MSIE"))}onClick='document.getElementById("register").action="@{Competitions.registerUser()}"'#{/if}>&{'common.register'}</button>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button class="navigate" type="submit" formaction="@{Users.registration()}" #{if (request.headers.get("user-agent").toString().contains("MSIE"))}onClick='document.getElementById("register").action="@{Users.registration()}"'#{/if}>&{'competitors.createuser'}</button>
				</td>
			</tr>
		</table>
	</form>
</div>