#{extends "Administration/main.html" /}
#{set title: item.label /}

<div>
	<form action="@{Ranks.edit()}" method="POST">
		<input type="hidden" name="rankID" value="${item.id}" />
		<label for="rank">&{'ranks.rank'}</label>
		<input type="text" name="rank" value="${item.rank}" />
		<label for="label">&{'ranks.label'}</label>
		<input type="text" name="label" value="${item.label}" />

		<button type="submit" name="useraction" value="save" class="enter">&{'common.save'}</button>
		<button type="submit" name="useraction" value="delete" class="delete">&{'common.delete'}</button>
	</form>
</div>