@(competitionId: Long)
<span class='menu-container sub-menu'>
    <a class='menu-link' href='/competition/show/@competitionId/information'>@Messages("menu.tab.information")</a>
    <a class='menu-link' href='/competition/show/@competitionId/stages'>@Messages("menu.tab.stages")</a>
    <a class='menu-link' href='/competition/show/@competitionId/squads'>@Messages("menu.tab.squads")</a>
    <a class='menu-link' href='/competition/show/@competitionId/competitors'>@Messages("menu.tab.competitors")</a>
    <a class='menu-link' href='/competition/show/@competitionId/teams'>@Messages("menu.tab.teams")</a>
    <a class='menu-link' href='/results/list/@competitionId' target='_blank'>@Messages("button.listresults.title")</a>
    <a class='menu-link' href='/results/display/@competitionId' target='_blank'>@Messages("button.displayresults.title")</a>
    <a class='menu-link' href='/results/print/@competitionId' target='_blank'>@Messages("button.printresults.title")</a>
</span>
<hr />
