@(competition: Competition)
<div class='competition-info'>
    <label>@Messages("label.common.competitiondate")</label><span class='value'>@competition.date()</span>
</div>
<div class='competition-info'>
    <label>@Messages("label.common.stages")</label><span class='value'>@competition.stages.size()</span>
</div>
<div class='competition-info'>
    <label>@Messages("label.common.shots")</label><span class='value'>@competition.maxShots()</span>
</div>
<div class='competition-info'>
    <label>@Messages("label.common.targets")</label><span class='value'>@competition.maxTargets()</span>
</div>
<div class='competition-info'>
    <label>@Messages("label.common.maxscore")</label><span class='value'>@competition.maxScore()</span>
</div>
<div class='competition-info'>
    <label>@Messages("label.common.stages")</label><span class='value'>@competition.stages.size()</span>
</div>
<div class='competition-info'>
    <label>@Messages("label.common.squads")</label><span class='value'>@competition.squads.size()</span>
</div>
<div class='competition-info'>
    <label>@Messages("label.common.competitors")</label><span class='value'>@competition.competitors()</span>
</div>
<div class='competition-info'>
    <label>@Messages("label.common.entries")</label>
    @for((key, value) <- competition.classTotals()) {
    <label>@key</label><span class='value'>@value</span>
    }
    <label>@Messages("label.common.total")</label><span class='value'>@competition.entries()</span>
</div>
<span class='menu-container action-menu'>
    <a class='menu-link' href='/competition/edit/@competition.id'>@Messages("button.edit.title")</a>
</span>
