#{extends "mainExt.html" /}
#{set title: messages.get("registration.title") /}
<div class="center box-mid center-container">
	#{ifErrors}
		<div class="error rounded-corners-top-mid-sized">
	   		<h1>&{'validation.error'}</h1>
	   	</div>
	#{/ifErrors}
	<div class="labeled text-center padded rounded-corners-top-mid-sized bg_pink"	>
		<form action="@{registration.doSignup()}" method="POST">
			<p>
				<label for="firstname" class="gargantuan bold text-left">&{'models.user.firstname'}</label>
				<input type="text" name="firstname" value="${flash.firstname}" class="gargantuan"/>
				<span class="error">#{error 'firstname' /}</span>
			</p>
			<p>
				<label for="surname" class="gargantuan bold text-left">&{'models.user.surname'}</label>
				<input type="text" name="surname" value="${flash.surname}" class="gargantuan"/>
				<span class="error">#{error 'surname' /}</span>
			</p>
			<p>
				<label for="cardnumber" class="gargantuan bold text-left">&{'models.user.cardnumber'}</label>
				<input type="text" name="cardnumber" value="${flash.cardnumber}" class="gargantuan"/>
				<span class="error">#{error 'cardnumber' /}</span>
			</p>
			<p>
				<label for="email" class="gargantuan bold text-left">&{'models.user.email'}</label>
				<input type="text" name="email" value="${flash.email}" class="gargantuan"/>
				<span class="error">#{error 'email' /}</span>
			</p>
			<p>
				#{include "Common/selectRank.html" /}
				<span class="error">#{error 'rankID' /}</span>
			</p>
			<p>
				#{include "Common/selectCategory.html" /}
				<span class="error">#{error 'categoryID' /}</span>
			</p>
			<p>
				<label for="email" class="gargantuan bold text-left">&{'models.user.password'}</label>
				<input type="password" name="password"" class="gargantuan"/>
				<span class="error">#{error 'password' /}</span>
			</p>
			<p>
				<label for="email" class="gargantuan bold text-left">&{'controller.registration.passwordVerification'}</label>
				<input type="password" name="passwordVerification" class="gargantuan"/>
				<span class="error">#{error 'passwordVerification' /}</span>
			</p>
		</div>
		<div class="rounded-corners-bottom-mid-sized padded top-border normal-font bg_sicklygreenish border_sicklygreenish text-center">
			<input type="submit" value="&{'registration.submit'}"/>
			<input type="button" value="&{'registration.cancel'}" onClick="location.href='@{application.index}';"/>
		</form>
	</div>
</div>