#{extends "main.html" /}
#{set title: "${competition.name}, station ${stageIndex}" /}

%{
int i = 1;
int j = 1;
%}

<div>
	<h2>${competition.name}, station ${stageIndex}</h2>
	<form action="@{Stages.update}" method="POST">
		<table>
			<tr>
				<td>
					<input type="hidden" name="competitionID" value="${competition.id}" />
					<input type="hidden" name="stageID" value="${stage.id}" />
					<input type="hidden" name="stageIndex" value="${stageIndex}" />
					<input type="text" name="name" value="${stage.name}" />
					<input class="enter" type="submit" value="Ändra" />
				</td>
			</tr>
		</table>
	</form>

	%{
	i = 1;
	for (group in stage.targetGroups) {
	}%
	<form action="@{Stages.deleteTargetGroup()}" method="POST">
		<table>
			<tr>
				<th style="text-align: left">
					<input type="hidden" name="competitionID" value="${competition.id}" />
					<input type="hidden" name="stageID" value="${stage.id}" />
					<input type="hidden" name="stageIndex" value="${stageIndex}" />
					<input type="hidden" name="targetGroupID" value="${group.id}" />
					Målgrupp ${i++}
					<input class="delete" type="submit" value="Ta bort" />
				</th>
			</tr>
		</table>
	</form>

	<table>
		<tr>
			<th style="text-align: left">
				Figur
			</th>
			<th style="text-align: left">
				Typ
			</th>
			<th style="text-align: left">
				Färg
			</th>
			<th style="text-align: left">
				Poängmål
			</th>
		</tr>
		%{
		j = 1;
		String checked = "";
		for (target in group.targets) {
		if (target.hasPoints) {
		checked = "checked";
		} else{
		checked = "";
		}
		}%
		<tr>
			<td style="text-align: left">
				${j}
			</td>
			<td style="text-align: left">
				<input form="updateTarget_${target.id}" type="hidden" name="model" value="${target.model}" />
				${target.model}
			</td>
			<td style="text-align: left">
			</td>
			<td style="text-align: left">
				<form name="updateTarget_${target.id}" method="POST">
					<input type="checkbox" ${checked} name="hasPoints" />
					       <input type="hidden" name="competitionID" value="${competition.id}" />
					<input type="hidden" name="stageID" value="${stage.id}" />
					<input type="hidden" name="stageIndex" value="${stageIndex}" />
					<input type="hidden" name="targetGroupID" value="${group.id}" />
					<input type="hidden" name="targetID" value="${target.id}" />
					<input class="enter" type="submit" formaction="@{Stages.updateTarget()}" value="Uppdatera" />
					<input class="delete" type="submit" formaction="@{Stages.deleteTarget()}" value="Ta bort" />
				</form>
			</td>
		</tr>
		%{
		j++;
		}
		}%
		<tr>
			<td style="text-align: left">
			</td>
			<td style="text-align: left">
			</td>
			<td style="text-align: left">
			</td>
			<td style="text-align: left">
				<form action="@{Stages.addTarget()}" method="POST">
					<input type="checkbox" name="hasPoints" />
					<input type="hidden" name="competitionID" value="${competition.id}" />
					<input type="hidden" name="stageID" value="${stage.id}" />
					<input type="hidden" name="stageIndex" value="${stageIndex}" />
					<input type="hidden" name="targetGroupID" value="${group.id}" />
					<input class="enter" type="submit" value="Ny figur" />
				</form>
			</td>
		</tr>
	</table>
	%{
	}
	}%

	<table>
		<tr>
			<td style="text-align: left">
				<form action="@{Stages.addTargetGroup()}" method="POST">
					<input type="hidden" name="competitionID" value="${competition.id}" />
					<input type="hidden" name="stageID" value="${stage.id}" />
					<input type="hidden" name="stageIndex" value="${stageIndex}" />
					<input class="enter" type="submit" value="Ny målgrupp" />
				</form>
			</td>
			<td style="text-align: left">
				<form action="@{Competitions.edit()}" method="POST">
					<input type="hidden" name="competitionID" value="${competition.id}" />
					<input class="enter" type="submit" value="Tillbaks till t&auml;vlingen" />
				</form>
			</td>
		</tr>
	</table>
</div>