<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="se.sagittarius.collector"
		  android:versionCode="1"
		  android:versionName="1.0">
	<application android:label="@string/app_name" android:icon="@drawable/sagittarius">
		<activity android:name="SelectSquad"
				  android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="SelectStage" />
		<activity android:name="EnterScores" />
		<activity android:name="ReviewScores" />
		<activity android:name="de.quist.app.errorreporter.ExceptionReportActivity"
				  android:process=":exceptionReporter"
				  android:theme="@android:style/Theme.NoDisplay" />
		<service android:name="de.quist.app.errorreporter.ExceptionReportService"
				 android:process=":exceptionReporter" />
		<meta-data android:name="de.quist.app.errorreporter.targetUrl"
				   android:value="http://projects.smilfinken.net/sagittarius-main/errorreporting/submitreport" />
		<meta-data android:name="de.quist.app.errorreporter.dialogMessageHint"
				   android:resource="@string/error_reporting_message_hint" />
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>
