<!DOCTYPE html>

<html>
	<head>
		<title>#{get 'title' /}</title>
		<meta charset="${_response_encoding}">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/mainExt.css'}">
		#{get 'moreStyles' /}
		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
		<script src="@{'/public/javascripts/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/global.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		#{get 'moreScripts' /}
	</head>
	<body class="bg_bluegray">
		<div id="logo" class="bg_sicklygreenish">
			<div id="logo-text" class="tilted"><span class="logo-font">Sa<span class="pink">g</span>ittarius</span></div>
		</div>
		<div id="main" class="middle">
			#{doLayout /}
		</div>
	</body>
</html>
