#{extends 'foundation.html' /}
#{set 'styleMain'}
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.scss'}" />
#{/set}
<div id="main">
	<div class="header">
		<h1>Sagittarius</h1>
		<div class="menu left">
			<ul>
				#{secure.check "admin"}
					<li class="#{if request.controller == 'Administration' }active#{/if}">#{a @Administration.index()}&{'navigation.administration'}#{/a}</li>
				#{/secure.check}
				<li class="#{if request.controller == 'Competitions' }active#{/if}">#{a @Competitions.list()}&{'common.competitions'}#{/a}</li>
				<li class="#{if request.controller == 'Users' }active#{/if}">#{a @Users.profile()}&{'navigation.profile'}#{/a}</li>
			</ul>
		</div>	
		<div class="profile right">
			<span class="currentuser">
				#{a @Users.profile()}${session.username}#{/a}
			</span>
			#{a @Secure.logout()}&{'navigation.logout'}#{/a}
		</div>
	</div>
	<div class="body">
		#{doLayout /}
	</div>
</div>