#{extends "main.html" /}
#{set title: messages.get("competitions.registerparticipant") /}

<div>
	<form method="POST">
		<input type="hidden" name="competitionID" value="${competition.id}" />
		<table>
			<tr>
				<td>
					#{include "Common/selectUser.html" /}
				</td>
				<td>
					#{include "Common/selectDivision.html" /}
					<input class="enter" type="submit" formaction="@{Competitions.registerUser}" value="&{'common.register'}" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input class="navigate" type="submit" formaction="@{Users.registration()}" value="&{'competitors.createuser'}" />
				</td>
			</tr>
		</table>
	</form>
</div>