#{extends "main.html" /}
#{set title: "Parametrar" /}

<div>
	${categories.size()} kategorier<br />
	#{list categories}
	[${_.id}] ${_.category}<br />
	#{/list}
</div>

<hr />

<div>
	${ranks.size()} t&auml;vlingsklasser<br />
	#{list ranks}
	[${_.id}] ${_.ranking} ${_.label}<br />
	#{/list}
</div>

<hr />

<div>
	${competitionTypes.size()} t&auml;vlingstyper<br />
	#{list competitionTypes}
	[${_.id}] ${_.name}<br />
	#{/list}
</div>

<hr />

<div>
	${divisions.size()} divisoner<br />
	#{list divisions}
	[${_.id}] ${_.label} <input type="checkbox" disabled #{if (_.ranks)}checked#{/if}/><br />
	#{/list}
</div>

<hr />

<div>
	${stages.size()} stationer<br />
	#{list stages}
	[${_.id}] ${_.stageIndex} ${_.name} #{if (_.targetGroups != null)}${_.targetGroups.size()}#{/if}#{else}Inga m&aring;lgrupper#{/else}<br />
	#{/list}
</div>

<hr />

<div>
	${targetGroups.size()} m&aring;lgrupper<br />
	#{list targetGroups}
	[${_.id}] ${_.description} #{if (_.targets != null)}${_.targets.size()}#{/if}#{else}Inga figurer#{/else}<br />
	#{/list}
</div>

<hr />

<div>
	${targetModels.size()} figurtyper<br />
	#{list targetModels}
	[${_.id}] ${_.name} ${_.colour}<br />
	#{/list}
</div>

<hr />

<div>
	${targets.size()} figurer<br />
	#{list targets}
	[${_.id}] ${_.model} ${_.hasPoints}<br />
	#{/list}
</div>

<hr />

<div>
	${competitions.size()} t&auml;vlingar<br />
	#{list competitions}
	[${_.id}] ${_.name} ${_.date}<br />
	#{/list}
</div>

<hr />

<div>
	${squads.size()} patruller<br />
	#{list squads}
	[${_.id}] ${_.number} ${_.slots}<br />
	#{/list}
</div>

<hr />

<div>
	${competitors.size()} t&auml;vlingsdeltagare<br />
	#{list competitors}
	[${_.id}] ${_.getFullName()} ${_.getDivision()}<br />
	#{/list}
</div>

<hr />

<div>
	${users.size()} anv&auml;ndare<br />
	#{list users}
	[${_.id}] ${_.getFullName()} ${_.email}<br />
	#{/list}
</div>