#{extends "Competitions/main.html" /}
#{set title: messages.get('common.changeobject', messages.get('common.organisation')) /}

<div class="content">
    <form action="@{Organisations.edit}" method="POST" autocomplete="off">
        <input type="hidden" name="organisationID" value="${organisation.id}" />

        #{secure.check "admin"}
        <button class="delete" type="submit" name="useraction" value="delete">&{'common.delete'}</button>
        #{/secure.check}

		${organisation}

        #{secure.check "admin"}
        <button class="enter" type="submit" name="useraction" value="save">&{'common.save'}</button>
        #{/secure.check}
    </form>
</div>