#{extends 'main.html' /}
#{set title:'Home' /}

<form action="@{Competitions.Display()}" method="POST">
    <table>
        <tr>
            <td>
                <label for="competitionID">V&auml;lj en t&auml;vling</label>
                <select name="competitionID">
                    %{
                    for (competition in competitions){
                    }%
                    <option value="${competition.id}">${competition.name}</option>
                    %{
                    }
                    }%
                </select>
            </td>
            <td>
                <input type="submit" value="V&auml;lj" />
            </td>
    </table>
</form>