#{extends "Competitions/main.html" /}
#{set title: "${competition.label}, station ${stage.stageIndex}" /}

<hr />
<div>
	<h2>${competition.label}, &{'competitions.stage'} ${stage.stageIndex}</h2>
	#{if (minTime != "0.0" && maxTime != "0.0")}
	<div class="timings">
		&{'stages.suggestedtimings'}: ${minTime} -- ${maxTime} &{'common.seconds'}
	</div>
	#{/if}
	<div id="menu">
		<ul id="menu">
			#{if (!competition.isFirstStage(stage.id))}
			<li>#{a @Stages.edit(competition.id, competition.getPreviousStage(stage.id))}&{'navigation.previousstage'}#{/a}</li>
			#{/if}
			#{if (!competition.isLastStage(stage.id))}
			<li>#{a @Stages.edit(competition.id, competition.getNextStage(stage.id))}&{'navigation.nextstage'}#{/a}</li>
			#{/if}
		</ul>
	</div>

	<hr />
	<form action="@{Stages.update}" method="POST">
		<input type="hidden" name="competitionID" value="${competition.id}" />
		<input type="hidden" name="stageID" value="${stage.id}" />
		<div>
			<label for="label">&{'common.label'}</label>
			<input type="text" name="label" value="${stage.label}" />

			#{if (stage.startingPosition != null)}
			<br />
			#{include "Common/selectStartingPosition.html" /}
			#{/if}
			<br />
			<button class="enter" type="submit">&{'common.change'}</button>
		</div>
	</form>
</div>

#{list stage.targetGroups, as:'targetGroup'}
<hr />
<div>
	<form action="@{Stages.editTargetGroup()}" method="POST">
		<table>
			<tr>
				<th style="text-align: left">
					<input type="hidden" name="competitionID" value="${competition.id}" />
					<input type="hidden" name="stageID" value="${stage.id}" />
					<input type="hidden" name="targetGroupID" value="${targetGroup.id}" />
					&{'targetgroups.targetgroup'} ${targetGroup_index}
					<input type="text" name="range" value="${targetGroup.range}" /> m

					<button class="save" type="submit" name="useraction" value="save">&{'common.update'}</button>
					<button class="delete" type="submit" name="useraction" value="delete">&{'common.delete'}</button>
				</th>
			</tr>
		</table>
	</form>

	<table>
		<tr>
			<th style="text-align: left" />
			<th style="text-align: left">
				&{'targets.shape'}
			</th>
			<th style="text-align: left">
				&{'targets.scoreable'}
			</th>
		</tr>
		#{list targetGroup.targets, as:'target'}
		<form id="updateTarget_${target.id}" method="POST">
			<tr>
				<td style="text-align: left">
					${target_index}
				</td>
				<td style="text-align: left">
					#{include 'Common/selectTarget.html' /}
				</td>
				<td style="text-align: left">
					<input type="checkbox" name="hasPoints" #{if (target.hasPoints)}checked#{/if} />
						   <input type="hidden" name="competitionID" value="${competition.id}" />
					<input type="hidden" name="stageID" value="${stage.id}" />
					<input type="hidden" name="targetGroupID" value="${targetGroup.id}" />
					<input type="hidden" name="targetID" value="${target.id}" />
					<button class="enter" type="submit" formaction="@{Stages.updateTarget()}" #{if (request.headers.get("user-agent").toString().contains("MSIE"))}onClick='document.getElementById("updateTarget_${target.id}").action="@{Stages.updateTarget()}"'#{/if}>&{'common.update'}</button>
					<button class="delete" type="submit" formaction="@{Stages.deleteTarget()}" #{if (request.headers.get("user-agent").toString().contains("MSIE"))}onClick='document.getElementById("updateTarget_${target.id}").action="@{Stages.deleteTarget()}"'#{/if}>&{'common.delete'}</button>
				</td>
			</tr>
		</form>
		#{/list}
	</table>

	<form action="@{Stages.addTarget()}" method="POST">
		<input type="hidden" name="competitionID" value="${competition.id}" />
		<input type="hidden" name="stageID" value="${stage.id}" />
		<input type="hidden" name="targetGroupID" value="${targetGroup.id}" />
		<button class="enter" type="submit">&{'targets.new'}</button>
	</form>
	#{/list}
</div>

<hr />
<div>
	<form action="@{Stages.addTargetGroup()}" method="POST">
		<input type="hidden" name="competitionID" value="${competition.id}" />
		<input type="hidden" name="stageID" value="${stage.id}" />
		<button class="enter" type="submit">&{'targetgroups.new'}</button>
	</form>
</div>
</div>