#{extends 'main.html' /}
#{set title: messages.get("application.name") /}

<h1>&{'common.competitions'}</h1>
<hr/>

#{if (entries?.size() != 0)}
<div class="left">
	<h2>&{'competitions.registered.text'}</h2>
	#{list entries}
	<ul>
		<li>#{a @Competitions.enrollment(_.id)}${_.label} (${_.date})#{/a}</li>
	</ul>
	#{/list}
</div>
#{/if}

#{if (competitions?.size() != 0)}
<div class="left">
	<h2>&{'competitions.administration.text'}</h2>
	#{list competitions}
	<ul>
		<li>#{a @Competitions.details(_.id)}${_.label} (${_.date})#{/a}</li>
	</ul>
	#{/list}
</div>
#{/if}