<!DOCTYPE html>
<html>
<head>
<title>&{'notifiers.registrationnotifier.welcome.subject'}</title>
</head>
<body>
<h1>&{'notifiers.registrationnotifier.welcome.title'}</h1>
<p>
	&{'models.user.firstname'}: ${user.firstName}<br />
	&{'models.user.surname'}: ${user.surname}<br />
	&{'models.user.cardnumber'}: ${user.cardNumber}<br />
	&{'models.user.email'}: ${user.email}<br />
</p>

<!-- @@ Will pick local address = :9090. Port 9090 is not vailable externally -->
<a href="@@{registration.confirm}?hash=${hash}&email=${user.email}">&{'notifiers.registrationnotifier.welcome.link'}</a>

</body>
</html>