#{extends 'main.html' /}
#{set title: messages.get("common.competitions") /}

<hr />

#{secure.check "admin"}
<div class="menu level2 bg_pink">
	<ul class="menu">
		<li>#{a @Competitions.create()}&{'competitions.createnew'}#{/a}</li>
		<li>#{a @Competitions.importCompetition()}&{'competitions.import'}#{/a}</li>
	</ul>
</div>
#{/secure.check}

#{secure.check "basic"}
#{list competitions}
<div class="menu">
	<ul class="menu">
		<li>#{a @Results.list(_.id)}${_.label}#{/a}</li>
		<li>#{a @Competitions.enroll(_.id)}&{'competitions.enroll'}#{/a}</li>
		#{if (_.isEnrolled(session.username))}
		<li>#{a @Competitions.unroll(_.id)}&{'competitions.unroll'}#{/a}</li>
		#{/if}
	</ul>
</div>
#{/list}
#{/secure.check}
