/* FLOAT */
.left {
	float:				left;
}
.right {
	float:				right;
}
.clear {
	clear:				both !important;
}

/* TEXT ALIGN */
.text-right {
	text-align:			right;
}
.text-left {
	text-align:			left;
}
.text-center {
	text-align: 		center;
}

/* TEXT SIZE */
.bold {
	font-weight: 			bold;
}

/* SIZE */
.micro {
	width:				25px !important; 
}
.mini {
	width:				50px !important; 
}
.small {
	width:				100px !important; 
}
.medium {
	width:				140px !important; 
}
.large {
	width:				180px !important; 
}
.gargantuan {
	width:				250px !important; 
}
.full {
	width:				100% !important;
}

/* BORDER */
.border-remove-top {
	border-top-width: 		0px !important; 
}

/* VISIBLE */
.hidden {
	visibility: 		hidden;
}
.visible {
	display:			inline !important;
}
.oblitirated {
	display: 			none !important;
}
