@IMPORT url("main.css");

#login {
	font-size:				13pt;
}
#login p {
	margin-top:				3px;
}

/* CLASSES */

.center-container {
	top:					50%;
	position:				relative;
	text-align: 			center;
}
.center {
	margin:					0px auto;
	text-align:				left;
}
.box-mid {
	width:					400px;
}
.border {
	border:					solid 2px #666;
}
.padded {
	padding:				1em 0.5em 1em 0.5em;
}
.full-width {
	width:					100%;
}
.mid-width {
	width:					75%;
}
.top-border {
	border-top: 			solid 2px #666;
}

/* ELEMENTS */
.labeled label {
	display: inline-block;
}
.mini { 		width:			30px; }
.small { 		width:			50px; }
.medium { 		width:			100px; }
.large { 		width:			140px; }
.gargantuan { 	width:			200px; }

.text-center {
	text-align: 			center;
}
.text-right {
	text-align: 			right;
}
.text-left {
	text-align: 			left;
}
.bold {
	font-weight: 			bold;
}
p.error {
	text-align:				center;
	background-color:		yellow;
	padding:				0.5em 0 0.5em 0;
	font-size:				14pt;
	font-weight:			bold;
}
.normal-font {
	font-size:				12pt;
}
.middle {
	margin-top:				15%;
}
#logo {
	border-right-color: 	pink !important;
}
.logo-font {
	color: 					#6A9CA7 !important;
}