@import "colors.scss";

#logo a:link, #logo a:hover, #logo a:visited, #logo a:active {
	color:					$color104;
	text-decoration: 		none;
}

#logo {
	position:			absolute;
	left:				0;
	top:				0;
	bottom:				0;
	width:				6%;
	vertical-align: 	middle;
	border-right: 		solid 2px $color104;
	background-color:	$color100;
}
#logo-text {
	margin-right:		-10px;
	width:				100%;
	top:				50%;
	left:				0px;
	right:				0px;
	position:			absolute;
}
.logo-font {
	font-family:  		'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: 		normal;
    font-size: 			1.75em;
	letter-spacing: 	.2em;
	line-height: 		1.1em;
	margin:				0px;
	text-align: 		center;
	color:				$color2;
}
.tilted {
	-webkit-transform: 	rotate(-90deg); 
	-moz-transform: 	rotate(-90deg);
	/*display:			block;
	filter: 			progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	*/	
}