#{extends "Administration/main.html" /}
#{set title: item.getFullName() /}

<div>
	<form action="@{Users.profile()}" method="POST">
		<label for="firstName">&{'models.user.firstname'}</label>
		<input type="text" name="firstName" value="${item.firstName}" />
		<label for="surname">&{'models.user.surname'}</label>
		<input type="text" name="surname" value="${item.surname}" /><br />

		<label for="cardNumber">&{'models.user.cardnumber'}</label>
		<input type="text" name="cardNumber" value="${item.cardNumber}" />
		<label for="email">&{'models.user.email'}</label>
		<input type="text" name="email" value="${item.email}" /><br />

		#{include "Common/selectCategory.html" /}
		#{include "Common/selectRank.html" /}

		<br />
		<button type="submit" name="useraction" value="save" class="enter">&{'common.save'}</button>
	</form>
</div>