#{extends "main-login.html" /}

<script>
	$(document).ready(function(){
		$("#username").focus();
	});

	function loginAs(username, password) {
		$('#username').val(username);
		$('#password').val(password);
		$('#signin').click();
	}
</script>
<div id="login" class="center-container">

	#{form @authenticate()}

	<div class="login-box rounded-corners">
		<h2>&{'secure.login'}</h2>
		
		#{if flash.error}
			<div class="error">
				<h1>&{flash.error}</h1>
			</div>
		#{/if}
		#{if flash.success}
			<div class="success">
				&{flash.success}
			</div>
		#{/if}		
		
		<div class="login-box-content">
			<p id="username-field">
				<label for="username">&{'secure.username'}</label>
				<input type="text" name="username" id="username" value="${flash.username}"  placeholder="&{'secure.username'}" />
			</p>
			<p id="password-field">
				<label for="password"">&{'secure.password'}</label>
				<input type="password" name="password" id="password" value="" placeholder="&{'secure.password'} "/>
			</p>
			<br/>
			<p id="signin-field">
				<input type="submit" id="signin" value="&{'secure.login'}"/>
			</p>
			<p id="remember-field">
				<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
				<label for="remember" class="visible">&{'secure.remember'}</label>
			</p>		
		</div>
	</div>
	#{/form}
	<div class="login-box-lower">
		<p>&{'secure.noaccount'} <a href="@{Registration.signup()}">&{'secure.noaccount.create'}</a></p>
		<p>
			&{'demo.heading'}
			&{'demo.loginas'} <a href="javascript:loginAs('per@pelle.se', '123');">&{'demo.admin'}</a>
			&{'common.or'} <a href="javascript:loginAs('oskar@oskarsson.se', '123');">&{'demo.user'}</a>
		</p>
	</div>

</div>